@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background: rgb(20,20,20);
    overflow: hidden;
}
#canvas {
    filter:url('#goo');
}

/* Containers */
#container {
    text-align: center;
    position:absolute;
    left:0;top:0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;

    display:grid;
    grid-template-areas:
    'top top top top'
    'left center center right'
    'left center center right'
    'left center center right'
    'social social social social'
    'bottom bottom bottom bottom';
    gap: 10px;
}
#top {
    padding-top:25px;
    grid-area:top;
}
#center {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
    grid-area:center;
}
#social {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
    grid-area:social;
}
#bottom {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    grid-area:bottom;
}
#bottom > * {
    padding:10px;
}

/* Elements */
h1 {
    color:white;
    font-family:'Outfit';
    font-size:50px;
}
h2{
    color:white;
    font-family:'Outfit';
    font-size:25px;
}
p {
    color:white;
    font-family:'Outfit';
    font-size:40px;
}
a {
    color:white;
    font-family:'Outfit';
    font-size:3vw;
    text-decoration:none
}
a:hover {
    color:lightgray;
}
.fa .fa-brands{
    font-family:'Outfit';
}
.linkicon{
    display:none;
    font-size:35px;
}
.instagram:hover {
    color:rgb(255,165,30);
}
.discord:hover {
    color:rgb(88,101,242);
}
.snapchat:hover {
    color:rgb(250,250,50);
}
.facebook:hover {
    color:rgb(120,120,250);
}
.github:hover {
    color:rgb(40,40,40);
}
/* Mobile */
@media only screen and (max-width: 600px) {
    .textlink{
        display:none;
    }
    .linkicon{
        display:grid;
    }
}
