@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face { font-family: Avenir; src: url('AvenirNextLTPro-Regular.otf'); } 
@font-face { font-family: Avenir; font-weight: bold; src: url('AvenirNextLTPro-Bold.otf');}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background: rgb(15,15,15);
    overflow-x: hidden;
    scrollbar-width: thin;
}

::selection {
    /* color: rgba(255,0,0,0.5); */
    background: rgba(0,0,0,0.3);
}

#canvas {
    filter:url('#goo');
}

.marquee {
    width: 100%;
    height:100px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
    --mask: linear-gradient(to right, 
    rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%,  rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%
    ) 100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask); 
    mask: var(--mask);
}
  
  .marquee-content {
    display: inline-flex;
    position:absolute;
    animation: scroll 15s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(-75%);
    }
  }
  .marquee:hover .marquee-content {
    animation-play-state: paused;
  }
span {
    font-family: Avenir;
    color:white;
    display:flex;
    justify-content: center;
    font-size:40px;
    padding:10px;
}
/* Containers */
#container {
    position:absolute;
    left:0;top:0;
    width: 100vw;
    height: 100%;
    height: 100dvh;

    display:grid;
    grid-template-areas:
    'top top top top'
    'center center right right'
    'center center right right'
    'center center right right'
    'social social social social'
    'bottom bottom bottom bottom';
    gap: 50px;
}
#top {
    padding-top:20px;
    padding-left:40px;
    padding-bottom:20px;
    grid-area:top;
}
#center {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:20px;
    grid-area:center;
    padding-left:40px;
}
#right {
    grid-area:right;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:20px;
    padding-right:40px;
    padding-bottom:50px;
}
.projects {
    padding-top:5px;
    padding-left:15px;
    padding-bottom:15px;
    margin-bottom:20px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 20px;
}
.projects > p {
    color:rgba(255,255,255, 0.9);
}
#social {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
    grid-area:social;
}
#bottom {
    padding-top:30px;
    padding-left:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    grid-area:bottom;
}
#bottom > p {
    font-size:25px;
}
/* Elements */
h1 {
    color:white;
    font-family:'Avenir';
    font-size:50px;
}
h2{
    color:white;
    font-family:'Avenir';
    font-size:25px;
}
p {
    color:white;
    font-family:'Avenir';
    font-size:40px;
}
a {
    text-align:center;
    color:white;
    font-family:'Avenir';
    font-size:3vw;
    text-decoration:none
}
a:hover {
    color:lightgray;
}
.textlink:hover > svg {
    stroke:#aaaaaa;
    transform:rotate(10deg) scale(110%);
    transition:0.1s;
}
.textlink:hover > p {
    color:#aaaaaa;
    transform:scale(110%);
    transition:0.1s;
}
.icon {
    width:50px;
    height:50px;
    padding-right:10px;
}
.linkicon{
    display:none;
    font-size:35px;
}
/* Mobile */
@media only screen and (max-width: 800px) {
    #container {
        grid-template-areas:
        'top top top top'
        'center center center center'
        'center center center center'
        'center center center center'
        'right right right right'
        'social social social social'
        'bottom bottom bottom bottom';
    }
    #right {
        padding-left:40px;
    }
}
@media only screen and (max-width: 600px) {
    .textlink > p{
        display:none;
    }
}
