body, html {
    background: rgb(100, 255, 100);
    overflow:hidden;
}
.container {
    position:absolute;
    left:0;top:0;
    width: 100vw;
    height: 100vh;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
h1 {
    font-size:40pt;
    text-align:center;
    padding-top:15px;
    color:white;
    margin: auto;
}